<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Yearpub:</strong>
    <%= book.yearpub %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= book.review %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= book.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

</div>
