<!DOCTYPE html>

<html lang="pt-BR">

<head>
  <title> Editing Book</title>
  <style>
    *{
      font-family: Arial, Helvetica, sans-serif;
    }
    body{
      background: linear-gradient(-105deg, #FF9E00, #9D4EDD, #5A189A);
      background-size: 100% 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }
    a{
      text-decoration: none;
      color: white;
      font-size: 15px;
      cursor: pointer;
    }
    h1{
      color: white;
      text-align: center;
      margin: 10px 0 30px;
      font-family: Arial Black, sans-serif;
    }
    .formBookBox{
      background-color: white;
      width: 300px;
      padding: 40px;
      border-radius: 50px;
      box-shadow: 20px 30px 40px;
    }

    .formBookBox .field input{
      width: 100%;
      padding: 10px;
      font-size: 16px;
      color: gray;
      letter-spacing: 2px;
      border: none;
      border-bottom: 1px solid #240046;
      margin-bottom: 20px;
    }
    
    .formBookBox .field label{
      color: #240046;
      font-family: Arial, sans-serif;
      font-size: 14px;
    }

    .formBookBox .actions input{
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      border: none;
      outline: none;
      color: white;
      background: linear-gradient(-105deg, #FF9E00, #9D4EDD, #5A189A);
      padding: 10px 20px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 10px;
    }

    .formBookBox a{
      text-decoration: none;
      align-items: right;
      cursor: pointer;
    }

  </style>
</head>

<body>
  <div> </div>
  <div class="formBookBox">
    <%= form_with(model: book) do |form| %>
      <% if book.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
          <ul>
            <% book.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :genre, style: "display: block" %>
        <%= form.text_field :genre %>
      </div>

      <div class="field">
        <%= form.label :author, style: "display: block" %>
        <%= form.text_field :author %>
      </div>

      <div class="field">
        <%= form.label :yearpub, style: "display: block" %>
        <%= form.number_field :yearpub %>
      </div>

      <div class="field">
        <%= form.label :review, style: "display: block" %>
        <%= form.text_area :review %>
      </div>

      <div class="field">
        <%= form.label :user_id, style: "display: block" %>
        <%= form.collection_select(:user_id, User.all, :id, :email) %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>

    <% end %>
  </div>
</body>
</html>
